<footer class="bg-gray-100 rounded-lg">
    <div class="text-center p-4">
        Fait avec ❤️ par <a class="text-blue-600 hover:text-blue-800 duration-300" href="https://melaine-gerard.fr">Melaine Gérard</a> - <a class="text-blue-600 hover:text-blue-800 duration-300" href="{{ path('app_changelog') }}">Changelog</a>
    </div>
</footer>
