// Text alignment
.text-center {
    text-align: center;
}

// Font sizes
.text-3xl {
    font-size: 1.875rem;
}

.text-2xl {
    font-size: 1.5rem;
}

.text-xl {
    font-size: 1.25rem;
}

// Font weights
.font-bold {
    font-weight: 700;
}

