// Color palette
// --------------------------------------------------
$primary: #0081ff;
$secondary: #4c4c4c;
$success: #2ecc71;
$warning: #f1c40f;
$danger: #e74c3c;
$info: #3498db;
$light: #ecf0f1;
$dark: #34495e;

// --------------------------------------------------
$background: #ecf0f1;
$text-color: #4c4c4c;
