<header class="header">
    <h1 class="text-2xl font-bold">Melaine Gérard</h1>
    <nav class="navbar">
        <ul class="navbar-list">
            <li class="navbar-item"><a class="navbar-link" href="/">Accueil</a></li>
            <li class="navbar-item"><a class="navbar-link" href="/">A Propos</a></li>
            <li class="navbar-item"><a class="navbar-link" href="/">Contact</a></li>
        </ul>
    </nav>
</header>
